* {
    box-sizing: border-box;
    padding: 20px;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header{
    display: flex;
    background-color: #447348;
    padding: 40px;
    text-align: center;
    color: antiquewhite;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    font-size: 30px;
    margin: 9px;
}

li a {
    color: antiquewhite;
    text-decoration: none;
}

main {
    background-color: antiquewhite;
}

main section {
    padding: 2vh;
}

h1 {
    font-size: 48px;
}

.texture {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/mountains.jpg);
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 15px;
}

aside {
    display: flex;
    float: left;
    width: 20%;
    justify-content: center;
    font-size: 5vh;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    float: right;
    width: 80%;
}

.about-me-content p {
    margin: 5px;
}

.work-content {
    display: flex;
    flex-direction: column;
    float: right;
    width: 80%;
}

.main-project-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    justify-content: center, space-evenly;
    just;
}

.main-project-card header {
    font-size: x-large;
    background-color: none;
}

.main-project-card p {
    font-size: medium;
}

.secondary-project-card {
    display: inline-flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    background-image: url(../images/wood\ grain.JPG);
}