* {
    box-sizing: border-box;
    padding: 20px;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header{
    display: flex;
    background-color: #447348;
    padding: 40px;
    text-align: center;
    color: antiquewhite;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    font-size: 30px;
    margin: 9px;
}

li a {
    color: antiquewhite;
    text-decoration: none;
}

main {
    background-color: antiquewhite;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
}

.texture {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/scotland.JPG);
    background-size: cover;
    background-position: center;
}

h2 {
    display: flex;
    justify-content: start;
    margin: 5%;
    padding: 5%;
    font-size: 5vh;
}

section {
    display: flex;
    align-items: center;
}

article {
    display: flex;
    justify-content: flex-end;
}

.about-me-content p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: ;
    padding: 5%;

}

.work-content {
    display: flex;
    flex-direction: column;
    float: right;
    width: 80%;
}

.main-project-card {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/deployed\ app.png);
    max-width: 100%;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    justify-content: center, space-evenly;
}

.main-project-card a {
    color: antiquewhite;
    text-decoration: none;
}

.main-project-card header {
    display: flex;
    flex-;
    font-size: x-large;
    background-color: none;
}

.main-project-card p {
    font-size: medium;
    justify-content: center;
}

.secondary-project-card {
    display: inline-flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    background-image: url(../images/wood\ grain.JPG);
}

.contact-me .section-title {
    display: flex;
    align-items: center;
}

.contact-me-content {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin: 9px;
    justify-content: space-evenly;
}

.contact-me-content a {
    color: black;
}